.toDoTable {
  display: flex;
  flex-direction: column;
}

.toDoTableRow {
  display: flex;
  padding: .5em;
  border-top: 1px solid;

  &:first-child {
    font-weight: bold;
    border-top: 0;
  }

  &:last-child {
    // border-bottom: 0;
  }

  > span {
    flex: 1.5;
    line-height: 1.8;

    &:last-child {
      flex: 2;
      text-align: right;
    }
  }
}