// @import "./variables.scss";
$bringingSexyBlack: #282c34;

.App {

  display: flex;
  height: 100vh;
  width: 100%;
  padding: 3.875em 1em 2em;
  background: $bringingSexyBlack;
  background: rgb(60,60,60);
  background: linear-gradient(90deg, rgba(60,60,60,1) 0%, rgba(117,117,117,1) 100%);

  .leftCol {
    width: 21%;
    color: white;
  }

  .rightCol {
    flex: 1;
    padding-top: 1em;
    background: white;
    border-radius: 8px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 100%;
    overflow: hidden;
  }

  &Header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    // font-size: calc(10px + 2vmin);
    color: white;
  }

  &Logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
  }

  &Link {
    color: #61dafb;
  }
}

@keyframes AppLogoSpin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
