@import '../assets/styles/variables.scss';

.loader {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.schoolsContainer {
  @include container(row, wrap);
  padding: $spacer 0;
}

.goodAdvice {
  text-align: center;
  flex: 1;
  padding-top: 12rem;
  max-width: 800px;
  margin: 0 auto;
}

[data-layout='column'] {
  display: flex;
  flex-flow: row nowrap;
  overflow-y: scroll;
  scroll-snap-type: x mandatory;

  > .col {
    flex: 1 0 100%;
    min-width: 300px;
    scroll-snap-align: start;

    &:first-child {
      margin-left: auto !important;
    }

    @media (min-width: 430px) {
      flex: 1 0 50%;
    }

    @media (min-width: 860px) {
      flex: 1 0 calc(100%/3);
    }

    @media (min-width: 1600px) {
      flex: 1 0 25%;
    }
    // @media (min-width: 1720px) {
    //   flex: 1 0 25%;
    // }
  }
  .columnHide {
    display: none;
  }
}

[data-layout='row'] {
  flex-wrap: wrap;
  overflow: scroll;
  
  > .col {
    flex: 1 1 100%;
  }

  .cardTitle {
    margin-right: auto;
  }
  span {
    margin-right: $spacer * 2;
  }
}

.searchInput {
  width: 500px;
  margin-right: 0.5em;
  float: left;
  z-index: 100;
}

.schoolsBar {
  display: flex;
  margin-bottom: 1em;
  padding: 1em;
  background: $container-bg;
  @include border();

  > ul {
    display: flex;
    flex: 1;

    li {
      margin-right: 1em;
      &:last-child {
        margin-left: auto;
      }
    }
  }
}

// School Card
// --------------------------
.schoolCard {
  padding: $spacer;
  margin-bottom: $spacer;
  background: $container-bg;
  @include border();

  .small {
    font-size: smaller;
    text-align: left;
    padding-top: .5rem;
  }

  .cardCollapse {
    display: flex;
  }
  
  .cardTitle {
    font-size: 1.25rem;
    margin-bottom: 0;
  }
  
  .buttonWrapper {
    // display: flex;
  
    button {
      transition: .15s all linear;
      height: $spacer * 1.5;
      width: $spacer * 1.5;
      margin-left: $spacer / 2;
      line-height: 1;
      padding: 0;
    }
    svg {
      margin-top: -0.2em;
    }
  }
}