@import '../assets/styles/variables.scss';

.loader {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.schoolsContainer {
  @include container(row, wrap);
  padding: $spacer 0;
}

.sideScroll {
  flex-wrap: nowrap;
  overflow: scroll;
}

.searchInput {
  width: 500px;
  margin-right: 0.5em;
  float: left;
}

.schoolsBar {
  display: flex;
  margin-bottom: 1em;
  padding: 1em;
  background: $container-bg;
  @include border();

  > ul {
    display: flex;
    flex: 1;

    li {
      margin-right: 1em;
      &:last-child {
        margin-left: auto;
      }
    }
  }
}