$spacer: 1em;

p {
  &:last-child {
    margin-bottom: 0;
  }
}

.small {
  font-size: smaller;
  //margin-bottom: $spacer;
  text-align: left;
}

.schoolWrapper {
  border: 1px solid white;
  width: 100%;
  padding: $spacer;
  border-radius: 8px;
  margin-bottom: $spacer;
  overflow: hidden;

  &:nth-child(2) {
    margin-top: $spacer;
  }
}

.collapseHeader {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

.buttonWrapper {
  margin: -$spacer 0;
  padding: $spacer;
  padding-right: 0;

  > button {
    //width: 38px; //temporary
    &:first-child {
      margin-right: $spacer / 2;
    }
  }
}

.containerStatus {
  position: absolute;
  top: -$spacer * 1.3;
  right: -($spacer / 2);
  display: none;
}