@import '../assets/styles/variables.scss';

p {
  &:last-child {
    margin-bottom: 0;
  }
}

.small {
  font-size: smaller;
  text-align: left;
}

.schoolCard {
  flex: 1;
  flex-basis: 30%;
  margin: 0 $spacer/2 $spacer;
  padding: $spacer;
  display: flex;
  flex-direction: column;
  @include border();
}

.collapseHeader {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-between;
}

.schoolWrapper {
  flex: 1;
}

.buttonWrapper {
  display: flex;

  > button {
    transition: .15s all linear;
    height: $spacer * 1.5;
    width: $spacer * 1.5;
    margin-left: $spacer / 2;
    line-height: 1;
    padding: 0;

    &[data-status='collapse'] {
      transform: rotate(90deg);
    }
    &[data-status='expand'] {
      transform: rotate(0deg);
    }
  }
}



.containerStatus {
  position: absolute;
  top: -$spacer * 1.3;
  right: -($spacer / 2);
  display: none;
}
