@import '../assets/styles/variables.scss';

.todo {
  flex: 1;
  @include border();
  margin-bottom: $spacer;
  padding: $spacer;
  opacity: 1;
  transition: all .5s linear;

  .todoGroup {
    display: flex;
    justify-content: space-between;
  }
}

.toDoTable {
  display: flex;
  flex-direction: column;
}

.toDoTableRow {
  display: flex;
  padding: .5em;
  border-top: 1px solid;

  &:first-child {
    font-weight: bold;
    border-top: 0;
  }

  &:last-child {
    // border-bottom: 0;
  }

  > span {
    flex: 1.5;
    line-height: 1.8;

    &:last-child {
      flex: .25;
      text-align: center;
    }
  }
}

.deleteTodo, .checkTodo {
  button {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    line-height: 1;
    border: 1px solid;
    padding-bottom: 7px;
  }
} 