@import '../assets/styles/variables.scss';

.todoList {
  display: flex;
  flex-direction: column;
}

.todo {
  flex: 1;
  position: relative;
  @include border();
  margin-bottom: $spacer;
  padding: $spacer/2 $spacer/2 $spacer;
  opacity: 1;
  transition: all .5s linear;

  .todoGroup {
    display: flex;
    font-size: 1.1em;
    position: relative;

    .delete {
      padding: 0;
      font-size: inherit;
      display: inherit;
      position: absolute;
      right: 0;
      top: 0;
      color: $turqoise;
      transition: color .2s linear;

      &:hover {
        color: $darkTurqoise;
        text-decoration: none;
      }
    }
  }

  .dueDate {
    position: absolute;
    right: 10px;
    bottom: -10px;
    z-index: 2;
    background: white;
    padding: 0 2px;
    border: 1px solid white;
  }
}

.taskGroup {
  display: flex;
  flex: 1;
  align-items: baseline;
}

.todoForm {
  display: flex;
  flex: 1;
  // height: $formHeight;
  line-height: 1.2;

  input[type="submit"] {
    z-index: 2;

    &.hide {  
      display: none; 
    }
  }
}



.todoInput {
  flex: 1;
  border: none;
  resize: none;
  padding: 0 1.25em;

  &:focus {
    outline: none;
    // color: red;
    // text-decoration: underline;
    // border: 1px solid;
  }
}

.newTodoForm {
  display: flex;
  flex-flow: row wrap;
  padding: $spacer;
  @include border();
  align-items: flex-end;
  padding-bottom: 0;

  > .formGroup {
    flex: 1 0 auto;
    margin-right: $spacer;

    &:last-child {
      margin-right: 0;
    }

    button {
      margin-left: $spacer;
      background-color: $turqoise;
      border-color: $turqoise;
    }
  }
}

.checkbox {
  display: inherit;
  transition: all .1s linear;
  position: absolute;
  top: 3px;
  left: 0;

  &:hover { 
    cursor: pointer; 
  }
  &[data-done="true"] { 
    color: green;
  }
  svg {
    // position: absolute;
    // background: white;
    padding-bottom: 2px;
  }
}