@import '../assets/styles/variables.scss';

.todoList {
  display: flex;
  flex-direction: column;
}

.todo {
  flex: 1;
  position: relative;
  @include border();
  margin-bottom: $spacer;
  padding: $spacer;
  opacity: 1;
  transition: all .5s linear;

  .todoGroup {
    display: flex;
    justify-content: space-between;
  }
}



.taskGroup {
  display: flex;
  flex: 1;
}

.todoForm {
  display: flex;
  flex: 1;

  input[type="submit"] {
    &.hide {  display:none; }
  }
}



.todoInput {
  border: none;
  font-size: 1.25em;
  line-height: 1;
  flex: 1;

  &:focus {
    outline: none;
    // color: red;
    // text-decoration: underline;
    border: 1px solid;
  }
}

.newTodoForm {
  display: flex;
  flex-flow: row wrap;
  padding: $spacer;
  @include border();
  align-items: flex-end;
  padding-bottom: 0;

  > .formGroup {
    flex: 1 0 auto;

    button {
      width: 100%;
    }
  }
}

.checkbox {
  transition: all .1s linear;
  font-size: 1.75em;
  position: absolute;
  top: -0.3em;
  left: -0.4em;

  &:hover { 
    cursor: pointer; 
  }
  &[data-done="true"] { 
    color: green;
  }
  svg {
    position: absolute;
    background: white;
  }
}

.actions {
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  background: white;

  button {
    border-radius: 4px;
    height: 1.75em;
    width: 1.75em;
    line-height: 1;
    border: 1px solid;
    padding: 0;
    font-size: 1em;
  }
}